.registerContainer {
    padding-left: 15px;
    color: white;
    background-color: rgb(56, 56, 56);
}



.auth-container{
    margin-left: 2vw;
}

label {
    display: block;
    color: white;
    margin: 10px 0 10px 0;
    font-weight: bold;
}
.MuiInputBase-input {
    color: white !important;
}

input {
    display: block;
}
.MuiFormLabel-root {
    color: white !important;
}

p {
    color: gray;
}

h1 {
    color: white;
}

.MuiFilledInput-input {
    padding: 30px 12px 10px !important;
}